# 编译产物
*.exe
*.out
*.o
*.obj
*.run
*.a
*.so
*.lib

# CMake 生成文件
CMakeCache.txt
CMakeFiles/

# 临时/备份文件
*~
*.z~
*.tmp
*.swp
*.swo

# IDE
.idea/
.vscode/
*.iml

# 构建目录
build/
cmake-build-debug/
cmake-build-*/
